#map { height: 400px; width: 800px; margin: auto; }

body{
    margin: 20px;
    min-height: 100vh;
    background-image: url(mochila-turística-en-el-fondo-de-montañas-viajar-con-una-111668216.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
